# Node docker image on which this would be run
image: node:latest

cache:
  paths:
    - node_modules/

variables:
  NODE_ENV: test

# Pipeline:
stages:
  - install
  - build
  - test

# Jobs:

install_dependencies:
  stage: install
  script:
    - npm install
  artifacts:
    paths:
      - node_modules/

build:
  stage: build
  script:
    - npm run build

tests:
  image: cypress/base:10
  stage: test
  before_script:
    - npm install -g httpserver
    - npm install cypress
    - npm run start
  script:
    - npx cypress run --record --key=$CYPRESS_RECORD_KEY
